/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}

#myModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto auto;
  padding: 20px;
  border: 1px solid #888;  
}

/* Modal Header */
.modal-header {
  padding: 16px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
}

/* Modal Body */
.modal-body {  
  padding: 16px 16px;  
  text-align: center;  
}

.modal-body form p, 
.modal-body form span {
  font-size: 42px;
}

/* Modal Footer */
.modal-footer {
  padding: 16px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);  
}

h2 {
  font-size: 50px;
}



button {
  font-size: 30px;
  margin: 5px;
}

input[type="text"] {
  font-size: 30px;
  text-align: center;
}

